/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");

/* variables */
:root {
  /* colors */
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
  /* fonts */
  --ff-primary: "Outfit", sans-serif; /* Default font */
  --ff-secondary: "Young Serif", serif; /* Use for headings */
  /* extra */
  --border: 1px solid rgba(123, 40, 79, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--Stone-100);
  font-size: 16px;
}

h2,
h3 {
  font-family: var(--ff-secondary);
  font-weight: 400;
  line-height: 1.2;
}
h3 {
  font-size: 1.5rem;
  color: var(--Brown-800);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
/* recipe section */
.recipe-section {
  background: var(--White);
  max-width: 720px;
  margin: 125px auto;
  padding: 2rem;
  border-radius: 10px;
}
.recipe-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.recipe-title {
  font-size: 2.5rem;
  color: var(--Stone-900);
  margin-bottom: 0.375rem;
}
.recipe-info {
  color: var(--Stone-600);
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1.75rem;
}
/* preparation */
.preparation-time {
  background: var(--Rose-50);
  color: var(--Stone-600);
  padding: 1rem 1.5rem;
  line-height: 2;
  border-radius: 10px;
}
.preparation-time p {
  margin-left: 0.75rem;
  margin-right: 2rem;
  line-height: 1.4;
}
.preparation-time ul li {
  margin-left: 1.25rem;
  margin-bottom: 0.75rem;
}
ul ::marker {
  font-size: 0.75rem;
}
/* ingredients */
.ingredients {
  line-height: 2;
  color: var(--Rose-800);
  border-bottom: var(--border);
}
.ingredients ul {
  max-width: 100%;
  margin-left: 1.2rem;
  padding-bottom: 1.5rem;
}
.ingredients p {
  margin-left: 1rem;
}
/* instruction */
.instructions {
  color: var(--Stone-600);
  margin-bottom: 1.5rem;
  line-height: 2;
  border-bottom: var(--border);
}
.instructions ol {
  margin-left: 1.5rem;
  padding-bottom: 1.5rem;
}
ol ::marker {
  font-weight: 600;
  color: var(--Brown-800);
}
.instructions p {
  margin-left: 1rem;
  margin-right: 1rem;
}
/* Nutrition */
.nutrition {
  color: var(--Stone-600);
}
.nutrition p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.table {
  width: 100%;
  border-collapse: collapse;
  line-height: 2;
  /* border: var(--border); */
}
tr {
  text-align: left;
  border-bottom: var(--border);
}
tr:last-child {
  border-bottom: none;
}
th,
td {
  padding: 0.75rem 0;
}
th {
  font-weight: 400;
  transform: translateX(2rem);
}
td {
  font-weight: 600;
  color: var(--Brown-800);
}

@media screen and (max-width: 768px) {
  body {
    background: var(--White);
  }
  .recipe-section {
    background: var(--White);
    width: 100%;
    border-radius: 0;
    padding-top: 0;
    margin: 0;
  }
  .recipe-img-container {
    width: 100vw;
    transform: translateX(-2rem);
    margin-bottom: 0.75rem;
  }
  .recipe-img {
    border-radius: 0;
  }
  .recipe-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
/* attribution */
.attribution {
  background-color: var(--Stone-900);
  color: var(--Brown-800);
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0;
}
.attribution a {
  text-decoration: none;
  color: var(--Stone-100);
}

/* - Mobile: 375px
- Desktop: 1440px */
